.header__logo {
  width: 142px;
  height: 34px;
  background: url("../../../images/logo.svg") no-repeat;
  background-size: contain;
  display: block;
  transition: opacity 0.3s;
}

.header__logo:hover {
  opacity: 0.6;
}

@media screen and (max-width: 680px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 588px) {
  .header__logo {
    width: 103px;
    height: 24px;
  }
}
