.profile__edit {
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 0.3s;
  position: relative;
  overflow: hidden;
  margin-right: auto;
}

.profile__edit:hover {
  opacity: 0.6;
}

.profile__edit::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../../../images/edit.svg");
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}

.profile__edit:hover::before {
  transform: rotate(90deg);
}

@media screen and (max-width: 588px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    transform: translate(4px, -2px);
    margin: 25px 0 0 3px;
  }

  .profile__edit::before {
    background-size: 8px;
  }
}
