.card {
  padding: 0;
  margin: 0;
  position: relative;
  max-width: 282px;
}

@media screen and (max-width: 800px) {
  .card {
    max-width: 282px;
  }
}

@media screen and (max-width: 588px) {
  .card {
    max-width: 532px;
  }
}
