.card__like {
  width: 22px;
  height: 19px;
  background: url("../../../images/like.svg") no-repeat center;
  cursor: pointer;
  background-size: contain;
  border: none;
  transition: opacity 0.3s;
  box-sizing: border-box;
}

.card__like:focus {
  outline: none;
}

.card__like:hover {
  opacity: 0.6;
}
